html(lang='en')
  include header
  body.withnav
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#')
            p Maths Quiz Admin
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Teams
            li
              a(href='#') Leaderboard

    div.container(role='main')
      h1 Team List
      table.table
        tr
          th Team name
          th Created at
          th Started at
          th Time (s)
          th Quiz length
          th Team members
        each t in teams
          tr
            td= t.name
            td= moment(t.createdAt).format('YYYY-MM-DD hh:mm')
            td= t.started ? moment(t.started).format('YYYY-MM-DD hh:mm') : ''
            td= t.ended ? (t.ended-t.started)/1000 : ''
            td= t.quiz.length
            td= t.members ? t.members.map(function(member){return member.name}).join() : 0

    div.container
      form(method='post')
        p
          label(for="team[name]") Team name
            input(type='text', name='team[name]', value=team.name)
          input(type='submit', value='Create')
